<section id="work">
  <div class="row">
    <h2 id="work-intro" class="space-below">My Work</h2>
    <% @projects.each do |project| %>
      <div class="col-md-4">
        <div class="project-box">

          <!-- Image and title links to project page -->
          <a href="<%= project.url %>" class="project-url" target="_blank">
            <div class="hovereffect">
              <img src="<%= project.box_art_url %>"
                   alt="<%= project.title %> - <%= project.description %>"
                   class="project-box-art">
              <div class="overlay">
                <h3><%= project.title %></h3>
                <p><%= project.description %></p>
              </div>
            </div>
            <h3 class="project-title text-center">
                <%= project.title %>
            </h3>
          </a>

          <!-- Show complete if project is complete, incomplete otherwise. -->
          <p class="completion-status text-center">
            Status:
            <% if project.completed? %>
              <span class="complete">Completed</span>
            <% else %>
              <span class="in-progress">In Progress</span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</section>
