<!DOCTYPE html>
<html>
<head>
  <title>Yuri Ramocan</title>
  <%= favicon_link_tag "nestor_cube_logo_favicon.png" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-wrapper">
    <div class="container">
      <div class="row">
        <div id="sidebar" class="col-md-3">
          <%= render 'layouts/sidebar' %>
          <%= render 'layouts/footer' %>
        </div>

        <div id="main-content" class="col-md-offset-1 col-md-8">
          <%= render 'layouts/content' %>
        </div>
      </div>
    </div>


  </div>
</body>
</html>
